<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://skeyboy.github.io/ipa/7edef5f2f04b897095acfa410ded947356c35b54/com.gener-tech-bj.ElbF/e5f182ee7780434544d07e34411a6031662ab492/c132bb71bdfa7cb0b6ecce7135e10ddcbcb4c02b.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://skeyboy.github.io/ipa/7edef5f2f04b897095acfa410ded947356c35b54/com.gener-tech-bj.ElbF/e5f182ee7780434544d07e34411a6031662ab492/d9ca448e9a76fbbd1fd7903482e6d38d6f014be1.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://skeyboy.github.io/ipa/7edef5f2f04b897095acfa410ded947356c35b54/com.gener-tech-bj.ElbF/e5f182ee7780434544d07e34411a6031662ab492/d9ca448e9a76fbbd1fd7903482e6d38d6f014be1.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.gener-tech-bj.ElbF</string>
				<key>bundle-version</key>
				<string>1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ELB (F)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
